<div *ngIf="!this.authService.isAuthenticated()" class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <div class="card">
                <div class="card-body">
                  <app-not-found [visible]="responseMessage" notFoundMessage="{{responseMessage}}" resetLinkText=""
                    [class]="responseMessage !== 'Password updated successfully' ? 'danger' : 'success'"></app-not-found>
                  <h2 class="text-center">Rest Your Password</h2>
                  <form [formGroup]="NewPasswordForm">
                    <div class="mb-3">
                      <mat-form-field class="larger-form-field">
                        <mat-label>Enter your new password</mat-label>
                        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
                        <button mat-icon-button matSuffix (click)="hideNew = !hideNew"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                          <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <span class="form-text text-danger"
                          *ngIf="newPassword.errors?.['required'] && newPassword.touched">New Password
                          is required</span>
                        <span class="form-text text-danger"
                          *ngIf="newPassword.errors?.['pattern'] && newPassword.touched">Minimum eight characters, at
                          least
                          one letter and one number</span>
                      </mat-form-field>
                    </div>
                    <div class="mb-3">
                      <mat-form-field class="larger-form-field">
                        <mat-label>Confirm your new password</mat-label>
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmNewPassword">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <span class="form-text text-danger"
                          *ngIf="confirmNewPassword.errors?.['required'] && confirmNewPassword.touched">confirm
                          New Password is required</span>
                        <span class="form-text text-danger"
                          *ngIf="passwordMatchValidator() && confirmNewPassword.touched">
                          password and confirm password does not match</span>
                      </mat-form-field>
                    </div>
                    <button type="submit" (click)="onSubmitChangePassword()"
                      [disabled]="!(NewPasswordForm.valid && NewPasswordForm.dirty)"
                      class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Reset</button>
                    <div class="d-flex align-items-center justify-content-center">
                      <a class="text-primary fw-bold ms-2" href="login">login</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>