<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-4">
          <div class="card mb-3">


            <div class="card-body">

              <div class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="assets/images/logos/logo1.png" width="180" width="110" alt="">
              </div>

              <app-not-found [visible]="responseMessage=='wait for admin approval'"
                notFoundMessage="Wait for admin approval !" resetLinkText="" class="danger"></app-not-found>
              <app-not-found [visible]="responseMessage=='Something is Wrong'"
                notFoundMessage="Email or password are wrong !" resetLinkText="" class="danger"></app-not-found>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="loginName" aria-describedby="emailHelp"
                    formControlName="email">
                  <!-- <span class="form-text text-danger" *ngIf="Email.errors?.['required']&& Email.touched">email is
                    required</span>
                  <span class="form-text text-danger" *ngIf="Email.errors?.['pattern']">email is invalid</span> -->
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="loginPassword" formControlName="password">
                  <!-- <span class="form-text text-danger" *ngIf="Password.errors?.['required'] && Password.touched">password
                    is required</span> -->
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="form-check">
                    <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label text-dark" for="flexCheckChecked">
                      Remeber this Device
                    </label>
                  </div>
                  <a class="text-primary fw-bold" routerLink="/forgotPassword">Forgot Password ?</a>
                </div>
                <button type="submit" [disabled]="!(loginForm.valid && loginForm.dirty)"
                  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">New to InOutRh?</p>
                  <a class="text-primary fw-bold ms-2" routerLink="/register">Create an account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>