<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span>Change Password</span>
      <button class="mat-dialog-close" mat-icon-button mat-dialog-close="refresh">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="body-wrapper">

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <app-not-found [visible]="responseMessage" notFoundMessage="{{responseMessage}}"
                            resetLinkText="" [class]="responseMessage !== 'Password updated seccussfuly' ? 'danger' : 'success'"></app-not-found>
                        <div class="card-body">
                            <form [formGroup]="ChangPasswordForm" >
                                <div class="mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter your old password</mat-label>
                                        <input matInput [type]="hideOld ? 'password' : 'text'"
                                            formControlName="oldPassword">
                                        <button mat-icon-button matSuffix (click)="hideOld = !hideOld"
                                            [attr.aria-label]="'Hide oldPassword'" [attr.aria-pressed]="hideOld">
                                            <mat-icon>{{ hideOld ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                        <span class="form-text text-danger"
                                            *ngIf="oldPassword.errors?.['required'] && oldPassword.touched">Old password
                                            is required</span>
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter your new password</mat-label>
                                        <input matInput [type]="hideNew ? 'password' : 'text'"
                                            formControlName="newPassword">
                                        <button mat-icon-button matSuffix (click)="hideNew = !hideNew"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                                            <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                        <span class="form-text text-danger"
                                            *ngIf="newPassword.errors?.['required'] && newPassword.touched">New Password
                                            is required</span>
                                        <span class="form-text text-danger"
                                            *ngIf="newPassword.errors?.['pattern'] && newPassword.touched">Minimum eight characters, at least
                                            one letter and one number</span>
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field>
                                        <mat-label>Confirm your new password</mat-label>
                                        <input matInput [type]="hideConfirm ? 'password' : 'text'"
                                            formControlName="confirmNewPassword">
                                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                            <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                        <span class="form-text text-danger"
                                            *ngIf="confirmNewPassword.errors?.['required'] && confirmNewPassword.touched">confirm
                                            New Password is required</span>
                                        <span class="form-text text-danger"
                                            *ngIf="passwordMatchValidator() && confirmNewPassword.touched">
                                            password and confirm password does not match</span>
                                    </mat-form-field>
                                </div>
                                <button type="submit"(click)="onSubmitChangePassword()" [disabled]="!(ChangPasswordForm.valid && ChangPasswordForm.dirty)" class="btn btn-primary">Modifier</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>