<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a routerLink="/dashboard" class="text-nowrap logo-img">
          <img src="assets/images/logos/dark-logo.svg" width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <!-- <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/home"aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Home</span>
            </a>
          </li> -->
          <li *ngIf="authService.roleMatch(['ADMIN'])" class="sidebar-item">
            <a class="sidebar-link" routerLink="/userList" aria-expanded="false">
              <span>
                <i class="ti ti-article"></i>
              </span>
              <span class="hide-menu">List Of Users</span>
            </a>
          </li>
          <li *ngIf="authService.roleMatch(['ADMIN'])" class="sidebar-item">
            <a class="sidebar-link" routerLink="/PointageAdmin" aria-expanded="false">
              <span>
                <i class="ti ti-check"></i>
              </span>
              <span class="hide-menu">Check-in</span>
            </a>
          </li>
          <li *ngIf="authService.roleMatch(['COLLABORATEUR'])" class="sidebar-item">
            <a class="sidebar-link" routerLink="/PointageUser" aria-expanded="false">
              <span>
                <i class="ti ti-check"></i>
              </span>
              <span class="hide-menu">Check-in</span>
            </a>
          </li>
          <!-- <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/alerts" aria-expanded="false">
              <span>
                <i class="ti ti-alert-circle"></i>
              </span>
              <span class="hide-menu">Alerts</span>
            </a>
          </li> -->
          <!-- <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/cards" aria-expanded="false">
              <span>
                <i class="ti ti-cards"></i>
              </span>
              <span class="hide-menu">Card</span>
            </a>
          </li> -->
          <li *ngIf="authService.roleMatch(['COLLABORATEUR','ADMIN'])" class="sidebar-item">
            <a class="sidebar-link" routerLink="personalProfil" aria-expanded="false">
              <span>
                <i class="ti ti-user"></i>
              </span>
              <span class="hide-menu">My Profile</span>
            </a>
          </li>
          <!-- <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">AUTH</span>
          </li>
          <li class="sidebar-item">
            <a *ngIf="! isLogedIn()" class="sidebar-link" routerLink="/login" aria-expanded="false" >
              <span>
                <i class="ti ti-login"></i>
              </span>
              <span class="hide-menu" >Login</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="register" aria-expanded="false">
              <span>
                <i class="ti ti-user-plus"></i>
              </span>
              <span class="hide-menu">Register</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">EXTRA</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
              <span>
                <i class="ti ti-mood-happy"></i>
              </span>
              <span class="hide-menu">Icons</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
              <span>
                <i class="ti ti-aperture"></i>
              </span>
              <span class="hide-menu">Sample Page</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>




  