
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
           
            <div class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="assets/images/logos/logo1.png" width="180" width="110" alt="">
            </div>
            <app-not-found [visible]="responseMessage" notFoundMessage="{{responseMessage}}" resetLinkText=""
            [class]="responseMessage !== 'Check your email for credentials !' ? 'danger' : 'success'"></app-not-found>
            <form  [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="loginName" aria-describedby="emailHelp" formControlName="email">
                <span class="form-text text-danger" *ngIf="Email.errors?.['required']&& Email.touched">email is required</span>
                <span class="form-text text-danger" *ngIf="Email.errors?.['pattern']">email is invalid</span>
              </div>
              <button type="submit" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Send password</button>
              <div class="d-flex align-items-center justify-content-center">
                <a class="text-primary fw-bold ms-2" href="login">login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
