<!-- <div class="container-fluid">
 <app-not-found [visible]="1==1" notFoundMessage="Page not found !" resetLinkText ="" class="danger"></app-not-found>
      
    </div> -->

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed" >
      
      <div class="body-wrapper">
          
        <div class="container-fluid">
          
         <app-not-found [visible]="1==1" notFoundMessage="Page not found !" resetLinkText ="" class="danger"></app-not-found>
        </div>
      </div>
      
      
</div>