<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">

        <div class="container-fluid">
            <app-not-found [visible]="responseMessage" [notFoundMessage]="responseMessage" resetLinkText=""
                [class]="responseMessage === 'Check-in added with success' ? 'success' : 'warning'"></app-not-found>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <app-date-picker></app-date-picker>
                <button class="btn btn-success" (click)="onSubmitPointer()">Check-in</button>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Date Pointage Column -->
                    <ng-container matColumnDef="datePointage">
                        <th mat-header-cell *matHeaderCellDef> Date of registration </th>
                        <td mat-cell *matCellDef="let element"> {{element.datePointage}} </td>
                    </ng-container>

                    <!-- Heure Matin Column -->
                    <ng-container matColumnDef="is_checked">
                        <th mat-header-cell *matHeaderCellDef> Is checked </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span *ngIf="element.is_checked === true" class="badge text-bg-success">YES</span>
                            <span *ngIf="element.is_checked !== true" class="badge text-bg-danger">NO</span>
                        </td>
                    </ng-container>

                    <!-- Heure Apres Midi Column -->
                    <ng-container matColumnDef="workTime">
                        <th mat-header-cell *matHeaderCellDef> Worked time  </th>
                        <td mat-cell *matCellDef="let element"> {{element.workTime}} </td>
                    </ng-container>
                    <!-- Action -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Update </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary m-1" (click)="viewDetailsChecks(element.id)">View checks ></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>